/* ==========================================================================
   Case Studies
   ========================================================================== */

@-webkit-keyframes fadeIn {
  0% {
    @include opacity(0);
    @include transform('translate(0,0)');
  }

  100% {
    @include opacity(1);
    @include transform('translate(100px,100px)');
  }
}
@-moz-keyframes fadeIn {
  0% {
    @include opacity(0);
    @include transform('translate(0,0)');
  }

  100% {
    @include opacity(1);
    @include transform('translate(100px,100px)');
  }
}
@-o-keyframes fadeIn {
  0% {
    @include opacity(0);
    @include transform('translate(0,0)');
  }

  100% {
    @include opacity(1);
    @include transform('translate(100px,100px)');
  }
}
@keyframes fadeIn {
  0% {
    @include opacity(0);
    @include transform('translate(0,0)');
  }

  100% {
    @include opacity(1);
    @include transform('translate(100px,100px)');
  }
}

article.case-studies{
	margin: 0;
}

#work-area{
	height: auto;
	overflow: hidden;
	& > .gallery{
		clear: both;
		height: 100%;
	}
	& > .col-image,
	& > .col-full-image{
		padding-right: 0px;
		& > img{
			width: 100%;
		}
	}
	& > .col-image img{
		width: 50%;
		display: inline-block;
		vertical-align: top;
	}
}
.case-studies .entry-content{

	position: relative;
	width: 100%;
	padding: 20px;
  	overflow: hidden;
	
	@include mobile-device {
		position: fixed;
		top: 100px;
		left: 33px;
		background: rgba(255,255,255,0.65);
		width: 490px;
		padding: 20px;
		@include animate(1.5s, 0.3s);
		@include opacity(1);
		& .entry-header h1{
			padding: 0;
			margin: 0;
			border-bottom: solid 1px #000;
			font-family: georgia-italic;
			&:before{
				content: "~\00a0";
			}
		}
		&.up{
			@include animate(1.5s, 0.3s);
			top: -100%;
		}
	}
}
.work-block{
	overflow: hidden;
}
.half-col-images{
	padding-right: 0px;
}
#taxonomies{
	margin: 10px 0;
	border-top: solid 1px #000;
	& h5{
		margin: 0;
		float: left;
		padding: 0px 0px;
		text-transform: uppercase;
	}
	& ul{
		margin: 0;
		float: left;
		padding: 0px 0;
	}
	& .terms{
		list-style: none;
	}
}
#taxonomies ul:first-child{
	padding: 10px 0;
}
#taxonomies ul.terms{
	margin: 0;
	padding: 10px 5px;
	overflow: hidden;
	height: auto;
	& li{
		float: left;
		line-height: 1em;
		&:after{
			content: ',';
		}
		&.item a{
			line-height: 1em;
			float: left;
			padding-left: 7px;
			font-family: futura-bt-light;
			color: black;
			text-decoration:none;
		}
		& > ul{
			float: right;
			padding: 0;
			list-style: none;
			& > li.item:last-child:after{
				content: ' ';
			}
		}
	}
}
.slick-next,
.slick-prev{
	cursor: pointer;
	border: none;
	font-size: 0;
	line-height: 0;
	outline: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 49px;
	height: 49px;
	margin-top: -10px;
	padding: 0;
	color: transparent;
	z-index: 999999;
}
.slick-next {
  right: 50px;
  background-color: #000;
  background-image: url(assets/images/right-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
.slick-prev {
  left: 50px;
  background-color: #000;
  background-image: url(assets/images/left-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
#awards-press ul.awards li.item ul li.awards-item:after{
	content: ',\00a0';
}
#awards-press ul.awards li.item:last-child ul li.awards-item:after{
	content: '';
}

#our-work{
	overflow: hidden;
}

.project{
	height: 275px;
	@include bgimage;
	padding: 0;
	& > a{
		background-color: rgba(255,255,255,0.65);
		display: block;
		width: 100%;
		height: 100%;
		@include opacity(0);
		& > .block .wrap h1{
			padding-top: 70px;
			@include animate(0.5s, 0s);
			color: black;
			text-transform: capitalize;
		}
		&:hover{
			@include opacity(1);
			& > .block .wrap h1{
				padding-top: 0px;
				@include animate(0.5s, 0s);
			}
		}
	}
}
.this-visible{
	@include opacity(1);
	@include animate(0.5s, 0s);
	
}
.this-hidden{
	@include opacity(0.5);
	@include animate(0.5s, 0s);
}


/* Make sure embeds and iframes fit their containers */
.case-studies embed,
.case-studies iframe,
.case-studies object {
	max-width: 100%;
}

/*
** Similar work
*/

#related-work .inner-wrap{

	clear: both;
	overflow: hidden;
	padding: 20px;
	background: black;

	& h1{
		padding: 0;
		margin: 0 0 20px 0;
		color: $nav;
		border-bottom: solid 1px $nav;
		font-family: georgia-italic;
		&:before{
			content: "~\00a0";
		}
	}
	
	@include mobile-device {
		clear: both;
		overflow: hidden;
		padding: 20px;
		background: black;
		& h1{
			padding: 0;
			margin: 0 0 20px 0;
			color: $nav;
			border-bottom: solid 1px $nav;
			font-family: georgia-italic;
			&:before{
				content: "~\00a0";
			}
		}
		& > article h3 a{
			font-family: futura-bt-light;
			color: $nav;
			text-decoration: none;
		}
	}
}
.similar-project{
	width: 100%;
	@include mobile-device {
		width: 25%;
		float: left;
		padding-right: 20px;
		&:last-child {
			padding-right: 0px;
		}
	}
}
