/* ==========================================================================
   Header
   ========================================================================== */

#socials{
	width: 145px;
	@include opacity(0);
	visibility: hidden;
	@include mobile-device {
		padding: 0;
		@include opacity(1);
		width: auto;
		visibility: visible;
		@include animate(1s, 0.3s);
		height: 45px;
	}
	&.open{
		@include animate(1s, 0.3s);
		position:relative;
		float: none;
		clear: both;
		text-align: center;
		margin: 0 auto;
		visibility: visible;
		@include opacity(1);
	}
	& > ul{
		padding: 0px;
		& > li.vimeo{
			    width: 45px;
    margin: 20px 1px;
		}
		& > li{
			display: inline-block;
			vertical-align: top;
			width: 25px;
		}
	}
	
}


#menu-button{
	width: 145px;
	@include opacity(0);
	visibility: hidden;
	@include mobile-device {
		padding: 5px;
		@include opacity(1);
		float: right;
		width: 45px;
		visibility: visible;
		@include animate(1s, 0.3s);
		height: 45px;
	}
	&.open{
		@include animate(1s, 0.3s);
		position:relative;
		float: none;
		clear: both;
		text-align: center;
		margin: 0 auto;
		visibility: visible;
		@include opacity(1);
	}
	
}


.hidden-menu{
  position: fixed;
  right: -50%;
  top: 0px;
  width: 50%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 999998;
}

/*img#mobile-menu-button{
	@include mobile-device {
		display: none;
		padding: 0;
		float: right;
		width: auto;
	}
	display: block;
	width: 15%;
  	float: right;
  	padding: 12px;
  	height: 47px;
  	cursor: pointer;
}*/