/* ==========================================================================
   Header
   ========================================================================== */

#socials{
	width: 145px;
	@include opacity(0);
	visibility: hidden;
	@include mobile-device {
		padding: 0;
		@include opacity(1);
		float: right;
		width: auto;
		visibility: visible;
		@include animate(1s, 0.3s);
		height: 45px;
	}
	&.open{
		@include animate(1s, 0.3s);
		position:relative;
		float: none;
		clear: both;
		text-align: center;
		margin: 0 auto;
		visibility: visible;
		@include opacity(1);
	}
	& > ul{
		padding: 0px;
		& > li{
			display: inline-block;
			vertical-align: top;
			width: 25px;
		}
	}
	
}


img#mobile-menu-button{
	@include mobile-device {
		display: none;
		padding: 0;
		float: right;
		width: auto;
	}
	display: block;
	width: 15%;
  	float: right;
  	padding: 12px;
  	height: 47px;
  	cursor: pointer;
}