/* ==========================================================================
   Layout
   ========================================================================== */

#page {
	max-width: $pageWidth;
	margin: 20px auto;
}

body.post-type-archive-case-studies .site{
	background: rgb(0,0,0);
}

.null {
  visibility: hidden;
}

@include keyframes(fade-in) {
  0%   { @include opacity(0) }
  100% { @include opacity(1) }
}
@include keyframes(slide-fade-left) {
  0%   { @include opacity(0); margin-left: -50%; }
  100% { @include opacity(1); margin-left: 0px; }
}
@include keyframes(slide-fade-right) {
  0%   { @include opacity(0); margin-left: 60%; }
  100% { @include opacity(1); margin-left: 0%; }
}

.fade-in {
  visibility: visible;
  @include animation('fade-in .6s');
}

.content-area {
	float: left;
	margin: 0 -25% 0 0;
	width: 100%;
}
.site{
	min-height: 100%;
	margin-bottom: -1px;
}
.site:after, footer:after {
  height: 180px;
}
.site:after {
  content: "";
  display: block;
}

.entry-content h1{
	margin:0;
}

.site-header{
	position: relative;
	padding: 20px 20px 15px 20px;
	overflow: hidden;
	background: black;
	z-index: 999999;
	& > .site-branding{
		color: inherit;
		float: left;
		width: 210px;
		padding-right: 20px;
	}
	@include mobile-device {
		margin-left: 0px;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		padding: 20px 20px 15px 20px;
		background: black;
		overflow: hidden;
		z-index: 999999;
		& > .site-branding{
			color: inherit;
			float: left;
			width: 410px;
			padding-right: 20px;
				& .site-title{
					margin: 0;
				}
				& > h1 a{
					display: block;
					& > img{
						width: 100%;
					}
				}
		}
		& > .main-navigation{

		}
	}
}

.site-title{
	margin:0;
	@include mobile-device {
	}
}
// The loader

.load{
	width: 100%;
	display: table;
	& > .loader-inner{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		& > div{
			background-color: #FF0000;
		}
	}
}

// centering stuff

.block{
	display: table;
	width: 100%;
	height: 100%;
}
.wrap{
	display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.full-screen-quote, .quote-image, .fact-image, .quote-fact{
	height: auto;
	& > .block .wrap [class*='col-']{
		padding-right:0px;
	}
}

.full-screen-quote{
	padding: 60px;
	& h1{
		font-family: georgia-italic;
	}
}
.quote-image{
	& h1{
		font-family: georgia-italic;
	}
	& > .block .wrap .col-1-2:first-child{
		padding: 60px;
		text-align: center;
	}
	& > .block .wrap .col-1-2{
		height: 100%;
		& > h4{
			margin: 0;
			text-transform: capitalize;
		}
		& > p{
			margin: 5px 0 0px 0;
			text-transform: uppercase;
		}
		& > img{
			width: 100%;
			height: auto;
		}
	}
}

.fact-image{
	& h1{
		text-transform: uppercase;
		padding-bottom: 20px;
	}
	& > .block .wrap .col-1-2:first-child{
		padding: 60px;
		text-align: center;
	}
	& > .block .wrap .col-1-2{
		height: 100%;
		& > h4{
			margin: 0;
			text-transform: capitalize;
		}
		& > p{
			margin: 5px 0 0px 0;
			text-transform: uppercase;
		}
		& > img{
			width: 100%;
			height: auto;
		}
	}
}

.quote-fact{

	& > .block .wrap .col-1-2:first-child{
		& h1{
			text-transform: uppercase;
			padding-bottom: 20px;
		}
		height: 100%;
		padding: 60px;
		& > h4{
			margin: 0;
			text-transform: capitalize;
		}
		& > p{
			margin: 5px 0 0px 0;
			text-transform: uppercase;
		}
		& > img{
			width: 100%;
			height: auto;
		}
	}
	& > .block .wrap .col-1-2:last-child{
		& h1{
			font-family: georgia-italic;
			text-transform: none;
			color: white;
		}
		height: 100%;
		background-color: black;
		padding: 60px;
		& > h4{
			margin: 0;
			text-transform: capitalize;
			coor: white;
		}
		& > p{
			margin: 5px 0 0px 0;
			text-transform: uppercase;
			color: white;
		}
		& > img{
			width: 100%;
			height: auto;
		}
	}
}

.site-main {
	margin: 0 0 0 0;
	@include mobile-device{
		margin: 82px 25% 0 0;
	}
	width: 100%;
	overflow: hidden;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: 25%;
}

.site-footer {
	clear: both;
	width: 100%;
	display: none;
}

.controls{
	width: 100%;
	padding: 20px;
	position:fixed;
	bottom:0px;
	left:0px;
	z-index: 9999;
	background: rgba(0,0,0,0.6);
	& > ul{
		list-style: none;
		margin:0;
		padding:0;
		text-align: center;
		& > li{
			display:inline-block;
			vertical-align: middle;
			margin: 0 20px;
			width: 30px;
			height: 30px;
			overflow: hidden;
			@include border-radius(25px);
			padding: 3px;
			&.active{
				@include opacity(0.4);
				background-color: #f00;
			}
		}
	}
}
// Secondary nav area

.secondary-nav{
	margin-top: 0px;
	@include mobile-device {
		display: table;
  		width: 100%;
  		height: 100%;
	}
	& > ul {
	  height: 1px;
	  display: table-cell;
	  vertical-align: middle;
	  text-align: center;
		& > li {
			@include animate(0.5s, 0s);
			display: block;
			position: relative;
			margin: 20px 10px;
			display: block;
			text-decoration: none;
			color: #fff;
			line-height: 1em;
			font-size: 1.1em;
			cursor: pointer;
			text-transform: uppercase;
			&:hover{
				color: $nav;
				@include animate(0.5s, 0s);
			}
		}
	}
}

#map-over{
  overflow: hidden;
}

#infscr-loading{
	position: fixed;
	bottom: 0px;
	height: 90px;
	background: #333;
	width: 100%;
	left: 0px;
	text-align: center;
	color: white;
}

.news-post{
	position: relative;
}
.news-post .trans-bg{
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top:0px;
	z-index: 5000;
}
.news-post .block{
	z-index: 6000;
	position: absolute;
}
.news-post h1{
	font-family: georgia-italic;
	color: white;
	margin-top: 10px;
}
.news-post .posted-on{
	font-family: futura-bt-medium;
	& > time{
		color: white;
		text-decoration: none;
		text-transform: uppercase;
	}
}