/* ==========================================================================
   Home Page Template
   ========================================================================== */

body.home {}


.case-study{
	margin: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	display: table;
	padding-right: 0px;
	& > .module{
		background: rgba(255,255,255,0.65);
		width: 100%;
		height: 100%;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		padding: 0 60px;
		@include opacity(0);
		@include animate(0.5s, 0s);
		& > a{
			text-decoration: none;
		}
		&.on{
			@include opacity(1.0);
		}
	}
}
.category-name{
	color: black;
	  padding: 0;
  margin: 10px;
}
.category-description{
	color: black;
	  padding: 0;
  margin: 10px;
  font-family: georgia-italic;	
}