/* ==========================================================================
   Generic and static pages
   ========================================================================== */
.work-block{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.work-block .entry-content{
	position: fixed;
	top: 100px;
	left: 33px;
	background: rgba(255,255,255,0.65);
	width: 490px;
	padding: 20px;
	@include animate(1.5s, 1s);
	@include opacity(1);
	& .entry-header h1{
		padding: 0;
		margin: 0;
		border-bottom: solid 1px #000;
		font-family: georgia-italic;
		&:before{
			content: "~\00a0";
		}
	}
	&.up{
		@include animate(1.5s, 1s);
		top: -100%;
	}
}

#map{
	width: 100%;
	height: 100%;
}