/* ==========================================================================
   Posts and pages
   ========================================================================== */

.sticky {
}

.hentry {
	margin: 0 0 1.5em;
}

.single-post{
	background: #000;
}
.single-post .post-navigation{
	background: white;
	padding: 40px;
	margin:0;
}
.type-post h1,
.type-post p,
.type-post time,
.type-post .entry-footer{
	color: white;
}

.byline,
.updated {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0 0 0;
	    z-index: 6000;
}

.page .entry-content h1{
	font-family: futura-bold;
}

.page .entry-content h3{
	font-family: georgia-italic;
	margin: 10px 0;
}  

.page .entry-content p a{
	color: black;
	text-decoration: none;
	    padding: 0px 0;
    display: block;
}

.page .entry-content p strong{
	text-transform:uppercase;
}

.page .entry-content h2{
	font-family: georgia-italic;
	color: black;
	text-decoration: none;
	@include animate(0.5s, 0.1s);
	padding: 10px 0;
	cursor: pointer;
	&:hover{
		@include transform(translateY(10px));
		@include animate(0.5s, 0.1s);
	}
} 

#post-list{
	& > .paging-navigation{
		display: none;
	}
}
.news-post{
	height: 200px;
	@include mobile-device{
		height: 420px;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.site-main .gallery {
	margin-bottom: 1.5em;
}

.gallery-caption {
}

.site-main .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}

.site-main .gallery dd,
.site-main .gallery figcaption {
	margin: 0;
}

.site-main .gallery-columns-4 .gallery-item {
}

.site-main .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
